<!-- Panel (Spotlight) -->
  <section class="panel spotlight large left">
    <div class="content span-5">
      <h2 class="major">{{ include.title }}</h2>
      <p>{{ include.content }}</p>
    </div>

    <!-- {% if include.img %}
      {% capture imgstr %}
        {{ include.img }}
      {% endcapture %}
    {% endif %}

    {% if !imgstr %}
      {% capture imgstr %}
        {{ include.img }}
      {% endcapture %}
    {% endif %} -->

    <div class="image filtered tinted" data-position="bottom right">
      <img src="{{ include.img }}"" alt="" />
    </div>
  </section>
