<!-- Panel -->
  <section class="panel spotlight medium left" id="experience">

    <div class="intro">
      <h2 class="major">{{ page.experience_title }}</h2>
      <p>{{ page.experience_description }}</p>
      <ul>
        {% for item in page.experience_details %}
          <li>{{item[1]}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="content span-10" style="text-align: center;">
      <div class="grid-icons three" style="margin: auto;">

        {% for icon in page.work_icons %}
          <div style="text-align: center; ">
            <img src="{{ icon[0] }}"/>
          </div>

        {% endfor %}
        <!-- <li style="text-align: center; "><img src="https://img.icons8.com/color/150/000000/tesla-logo.png"/></li>
        <li style="text-align: center; "><img src="https://img.icons8.com/color/150/000000/google-logo.png"/></li>
        <li style="text-align: center; "><img src="https://img.icons8.com/color/150/000000/microsoft.png"/></li> -->
        
        <!-- <li><span class="icon fa-camera-retro"><span class="label">Ipsum</span></span></li>
        <li><span class="icon fa-cog"><span class="label">Dolor</span></span></li>
        <li><span class="icon fa-paper-plane"><span class="label">Sit</span></span></li> -->
        <!-- <li><span class="icon fa-bar-chart"><span class="label">Amet</span></span></li> -->
        </div>
    </div>


    <div class="image filtered tinted" data-position="bottom right">
      <img src="assets/images/custom/acm-talk.JPG" alt="" />
    </div>
  </section>
