<!-- Panel -->
  <section class="panel spotlight large left" id="experience">

    <div class="content group">
      <h2 class="major">{{ page.experience_title }}</h2>
      <p>{{ page.experience_description }}</p>
      <ul>
        {% for item in page.experience_details %}
          <li>
            <b>{{item[1].title}}</b>
            <ul>
              {% for detail in item[1].details %}
                <li>{{detail[1]}}</li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>


    <div class="image filtered tinted" data-position="bottom right">
      <img src="assets/images/custom/acm-talk.JPG" alt="" />
    </div>
  </section>

  <section class="panel large">
    <div class="gallery">
      <div class="modal" tabIndex="-1">
        <div class="inner">
          <img src="" style="max-width:40%; max-height:750px; margin: auto;" />
          <div class="content center middle" style="text-align: center; padding: 10px;">
            <h1 id="proj-title">HEADER</h1>
            <h3 id="proj-tech-stack">TECH STACK</h3>
            <p id="proj-desc">DESCRIPTON</p>
          </div>
        </div>
      </div>

      <div class="group span-3">
        {% for item in page.experience_details %}
          <a href="{{item[1].logo}}" class="image filtered span-1-5" data-position="top">
            <img src="{{item[1].logo}}" alt="" />
            <p id="title" style="display:none;">{{ item[1].title }}</p>
            <p id="desc" style="display:none;">{{ item[1].desc }}</p>
          </a>
        {% endfor %}
        <!-- <a href="assets/images/gallery/fulls/05.jpg" class="image filtered span-1-5" data-position="top"><img src="assets/images/gallery/thumbs/05.jpg" alt="" /></a>
        <a href="assets/images/gallery/fulls/06.jpg" class="image filtered span-1-5" data-position="center"><img src="assets/images/gallery/thumbs/06.jpg" alt="" /></a>
        <a href="assets/images/gallery/fulls/07.jpg" class="image filtered span-1-5" data-position="bottom"><img src="assets/images/gallery/thumbs/07.jpg" alt="" /></a>
        <a href="assets/images/gallery/fulls/08.jpg" class="image filtered span-1-5" data-position="top"><img src="assets/images/gallery/thumbs/08.jpg" alt="" /></a> -->
      </div>
    </div>
  </section>